@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');

body {
    font-family: 'Cabin';
    background-color: #D0DEE2;
    color: #415156;
}

button {
    color: #415156;
}

.main-container {
    margin: 50px 20vw;;
  }

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #82A2AC;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.stats-container:hover {
    box-shadow: 0 0 30px #82A2AC;
}

.stats-card {
    background-color: #82A2AC;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #82A2AC;
}

#button-container {
    text-align: center;
}

button {
    font-family: 'Cabin';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
    background-color: #82A2AC;
    font-size: 15px;
    transition: 0.3s;

}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px #82A2AC;
}


.revealable {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 1.5s ease;
  }
  
  .active {
    transform: translateY(0px);
    opacity: 1;
  }